<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
</head>
<body>
    <h1>ALL BLOGS</h1>
    <div>
        <h1>title : <%=blogs[0].title%></h1>
        <img src="<%= blogs[0].url%>" alt="">
        <p><%=blogs[0].desc%></p>
    </div>
</body>
</html>