<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit form</title>
</head>
<body>
    <h1>edit form</h1>
    <form action="/blog/<%=edit_blog.id%>?_method=PATCH" method="post">
        <label for="">title</label>
        <input type="text" name="e_title" value="<%=edit_blog.title%>">
        <br>
        <label for="">url</label>
        <input type="text" name="e_url" value="<%=edit_blog.url%>">
        <br>
        <label for="">desc</label>
        <textarea name="" id="e_desc"><%=edit_blog.desc%></textarea>
        <br>
        <button type="submit">update</button>
    </form>
</body>
</html>