<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login form</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/login" method="post">
        <label for="">name</label>
        <input type="text" name="Username" id="">
        <br>
        <label for="">ID</label>
        <input type="number" name="UserId" id="">
        <button type="submit">submit</button>
    </form>
</body>
</html>