<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Product</title>
</head>
<body>
    <h1>New products</h1>
    <form action="/new" method="post">
        <label for="">title</label>
        <input type="text" name="" id="">
        <br>
        <label for="">img_url</label>
        <input type="text" name="" id="">
        <br>
        <label for="">desc</label>
        <textarea name="" id="">
        </textarea>
        <br>
        <label for="">Price</label>
        <input type="number" name="" id="">
    </form>
</body>
</html>