<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
</head>
<body>
    <h1>ALL BLOGS</h1>
    <h2> Title :  <%=blogs[0].title  %></h2>
    <img src="<%=blogs12[0].url  %>" alt="">
    <p> description :  <%=blogs[0].desc %></p>
</body>
</html>