<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new Product</title>
</head>
<body>
    <h1>Add new Product</h1>
    <form action="/new" method="post">
        <label for="">Name</label>
        <input type="text" name="name" id="">
        <label for="">Price</label>
        <input type="number" name="price" id="">
        <button type="submit">Submit</button>
    </form> 
</body>
</html>