<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new blog</title>
</head>
<body>
    <h1>new blog</h1>
    <form action="/blogs" method="post">
        <label for="">title</label>
        <input type="text" name="title" id="">
        <br>
        <label for="">url</label>
        <input type="text" name="url" id="">
        <br>
        <label for="">desc</label>
        <textarea name="desc" id=""></textarea>
        <button type="submit">submit</button>
    </form>
</body>
</html>