<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit blog</title>
</head>
<body>
    <form action="/blog/<%=edit_blog.id%>?_method=PATCH" method="post">
        <label for="">title</label>
        <input type="text" name="e_title" value="<%=edit_blog.title%>">
        <br>
        <label for="">url</label>
        <input type="text" name="e_url" value="<%=edit_blog.url%>">
        <br>
        <label for="">desc</label>
        <textarea name="e_desc" id="">
            <%=edit_blog.desc  %>
        </textarea>
        <button type="submit">Submit</button>
    </form>
</body>
</html>