<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>blogs</title>
</head>
<body>
    <h1>ALL BLOGS</h1>
    <% for( let blog of blogs) { %>
    <h2> Title :  <%=blog.title  %></h2>
    <img src="<%=blog.url  %>" alt="">
    <p> description :  <%=blog.desc %></p>
    <form action="/blog/abc?method=DELETE" method="post">
        <button type="submit">DELETE</button>
    </form>
    <% } %>
</body>
</html>