<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new Product</title>
</head>
<body>
    <h1> ADD new Product</h1>
    <form action="/new" method="post">
        <label for="">title</label>
        <input type="text" name="title" id="">
        <br>
        <label for="">img-url</label>
        <input type="text" name="img-url" id="">
        <br>
        <label for="">price</label>
        <input type="number" name="price" id="">
        <br>
        <label for="">desc</label>
        <textarea name="desc" id="">
        </textarea>
    </form>
</body>
</html>